<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.padad.outside.mapper.MissionTaskMapper" >
  <resultMap id="BaseResultMap" type="com.padad.outside.pojo.MissionTask" >
    <id column="mission_id" property="missionId" jdbcType="VARCHAR" />
    <result column="task_name" property="taskName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="mission_star" property="missionStar" jdbcType="INTEGER" />
    <result column="mission_time" property="missionTime" jdbcType="VARCHAR" />
    <result column="mission_end" property="missionEnd" jdbcType="VARCHAR" />
    <result column="money_price" property="moneyPrice" jdbcType="VARCHAR" />
    <result column="active" property="active" jdbcType="INTEGER" />
    <result column="mission_content" property="missionContent" jdbcType="VARCHAR" />
    <result column="task_api" property="taskApi" jdbcType="VARCHAR" />
    <result column="movie_url" property="movieUrl" jdbcType="VARCHAR" />
    <result column="kind_title" property="kindTitle" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.padad.outside.pojo.MissionTaskWithBLOBs" extends="BaseResultMap" >
    <result column="pic" property="pic" jdbcType="LONGVARCHAR" />
    <result column="mission_step" property="missionStep" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    mission_id, task_name, type, mission_star, mission_time,mission_end, money_price, active, mission_content,
    task_api, movie_url, kind_title
  </sql>
  <sql id="Blob_Column_List" >
    pic, mission_step
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.padad.outside.pojo.MissionTaskExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from mission_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.padad.outside.pojo.MissionTaskExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mission_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from mission_task
    where mission_id = #{missionId,jdbcType=VARCHAR}
  </select>

  <select id="queryAllTask" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from mission_task WHERE active = 1
    limit  #{0} , #{1}
  </select>

  <select id="queryTaskByActive" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from mission_task
    where active = #{active,jdbcType=INTEGER}
  </select>



  <select id="countBySql" parameterType="java.lang.String" resultType="java.lang.Integer" >
    select count(*) from mission_task

  </select>

  <select id="queryTaskByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from mission_task
    where task_name = #{taskName,jdbcType=VARCHAR}
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from mission_task
    where mission_id = #{missionId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.padad.outside.pojo.MissionTaskExample" >
    delete from mission_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertTask" parameterType="com.padad.outside.pojo.MissionTask" >
    insert into mission_task (mission_id, task_name, type,
    mission_star, mission_time, money_price,
    active, mission_content, task_api,
    movie_url, kind_title,mission_end)
    values (#{missionId,jdbcType=VARCHAR}, #{taskName,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER},
    #{missionStar,jdbcType=INTEGER}, #{missionTime,jdbcType=VARCHAR}, #{moneyPrice,jdbcType=VARCHAR},
    #{active,jdbcType=INTEGER}, #{missionContent,jdbcType=VARCHAR}, #{taskApi,jdbcType=VARCHAR},
    #{movieUrl,jdbcType=VARCHAR}, #{kindTitle,jdbcType=VARCHAR},#{missionEnd,jdbcType=VARCHAR})
  </insert>
  <insert id="insert" parameterType="com.padad.outside.pojo.MissionTaskWithBLOBs" >
    insert into mission_task (mission_id, task_name, type, 
      mission_star, mission_time, money_price, 
      active, mission_content, task_api, 
      movie_url, kind_title, pic, 
      mission_step)
    values (#{missionId,jdbcType=VARCHAR}, #{taskName,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{missionStar,jdbcType=INTEGER}, #{missionTime,jdbcType=VARCHAR}, #{moneyPrice,jdbcType=VARCHAR}, 
      #{active,jdbcType=INTEGER}, #{missionContent,jdbcType=VARCHAR}, #{taskApi,jdbcType=VARCHAR}, 
      #{movieUrl,jdbcType=VARCHAR}, #{kindTitle,jdbcType=VARCHAR}, #{pic,jdbcType=LONGVARCHAR}, 
      #{missionStep,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.padad.outside.pojo.MissionTaskWithBLOBs" >
    insert into mission_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="missionId != null" >
        mission_id,
      </if>
      <if test="taskName != null" >
        task_name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="missionStar != null" >
        mission_star,
      </if>
      <if test="missionTime != null" >
        mission_time,
      </if>
      <if test="moneyPrice != null" >
        money_price,
      </if>
      <if test="active != null" >
        active,
      </if>
      <if test="missionContent != null" >
        mission_content,
      </if>
      <if test="taskApi != null" >
        task_api,
      </if>
      <if test="movieUrl != null" >
        movie_url,
      </if>
      <if test="kindTitle != null" >
        kind_title,
      </if>
      <if test="pic != null" >
        pic,
      </if>
      <if test="missionStep != null" >
        mission_step,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="missionId != null" >
        #{missionId,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null" >
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="missionStar != null" >
        #{missionStar,jdbcType=INTEGER},
      </if>
      <if test="missionTime != null" >
        #{missionTime,jdbcType=VARCHAR},
      </if>
      <if test="moneyPrice != null" >
        #{moneyPrice,jdbcType=VARCHAR},
      </if>
      <if test="active != null" >
        #{active,jdbcType=INTEGER},
      </if>
      <if test="missionContent != null" >
        #{missionContent,jdbcType=VARCHAR},
      </if>
      <if test="taskApi != null" >
        #{taskApi,jdbcType=VARCHAR},
      </if>
      <if test="movieUrl != null" >
        #{movieUrl,jdbcType=VARCHAR},
      </if>
      <if test="kindTitle != null" >
        #{kindTitle,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=LONGVARCHAR},
      </if>
      <if test="missionStep != null" >
        #{missionStep,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.padad.outside.pojo.MissionTaskExample" resultType="java.lang.Integer" >
    select count(*) from mission_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mission_task
    <set >
      <if test="record.missionId != null" >
        mission_id = #{record.missionId,jdbcType=VARCHAR},
      </if>
      <if test="record.taskName != null" >
        task_name = #{record.taskName,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.missionStar != null" >
        mission_star = #{record.missionStar,jdbcType=INTEGER},
      </if>
      <if test="record.missionTime != null" >
        mission_time = #{record.missionTime,jdbcType=VARCHAR},
      </if>
      <if test="record.moneyPrice != null" >
        money_price = #{record.moneyPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.active != null" >
        active = #{record.active,jdbcType=INTEGER},
      </if>
      <if test="record.missionContent != null" >
        mission_content = #{record.missionContent,jdbcType=VARCHAR},
      </if>
      <if test="record.taskApi != null" >
        task_api = #{record.taskApi,jdbcType=VARCHAR},
      </if>
      <if test="record.movieUrl != null" >
        movie_url = #{record.movieUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.kindTitle != null" >
        kind_title = #{record.kindTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.pic != null" >
        pic = #{record.pic,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.missionStep != null" >
        mission_step = #{record.missionStep,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update mission_task
    set mission_id = #{record.missionId,jdbcType=VARCHAR},
      task_name = #{record.taskName,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      mission_star = #{record.missionStar,jdbcType=INTEGER},
      mission_time = #{record.missionTime,jdbcType=VARCHAR},
      money_price = #{record.moneyPrice,jdbcType=VARCHAR},
      active = #{record.active,jdbcType=INTEGER},
      mission_content = #{record.missionContent,jdbcType=VARCHAR},
      task_api = #{record.taskApi,jdbcType=VARCHAR},
      movie_url = #{record.movieUrl,jdbcType=VARCHAR},
      kind_title = #{record.kindTitle,jdbcType=VARCHAR},
      pic = #{record.pic,jdbcType=LONGVARCHAR},
      mission_step = #{record.missionStep,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mission_task
    set mission_id = #{record.missionId,jdbcType=VARCHAR},
      task_name = #{record.taskName,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      mission_star = #{record.missionStar,jdbcType=INTEGER},
      mission_time = #{record.missionTime,jdbcType=VARCHAR},
      money_price = #{record.moneyPrice,jdbcType=VARCHAR},
      active = #{record.active,jdbcType=INTEGER},
      mission_content = #{record.missionContent,jdbcType=VARCHAR},
      task_api = #{record.taskApi,jdbcType=VARCHAR},
      movie_url = #{record.movieUrl,jdbcType=VARCHAR},
      kind_title = #{record.kindTitle,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.padad.outside.pojo.MissionTaskWithBLOBs" >
    update mission_task
    <set >
      <if test="taskName != null" >
        task_name = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="missionStar != null" >
        mission_star = #{missionStar,jdbcType=INTEGER},
      </if>
      <if test="missionTime != null" >
        mission_time = #{missionTime,jdbcType=VARCHAR},
      </if>
      <if test="moneyPrice != null" >
        money_price = #{moneyPrice,jdbcType=VARCHAR},
      </if>
      <if test="active != null" >
        active = #{active,jdbcType=INTEGER},
      </if>
      <if test="missionContent != null" >
        mission_content = #{missionContent,jdbcType=VARCHAR},
      </if>
      <if test="taskApi != null" >
        task_api = #{taskApi,jdbcType=VARCHAR},
      </if>
      <if test="movieUrl != null" >
        movie_url = #{movieUrl,jdbcType=VARCHAR},
      </if>
      <if test="kindTitle != null" >
        kind_title = #{kindTitle,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=LONGVARCHAR},
      </if>
      <if test="missionStep != null" >
        mission_step = #{missionStep,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where mission_id = #{missionId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.padad.outside.pojo.MissionTaskWithBLOBs" >
    update mission_task
    set task_name = #{taskName,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      mission_star = #{missionStar,jdbcType=INTEGER},
      mission_time = #{missionTime,jdbcType=VARCHAR},
      money_price = #{moneyPrice,jdbcType=VARCHAR},
      active = #{active,jdbcType=INTEGER},
      mission_content = #{missionContent,jdbcType=VARCHAR},
      task_api = #{taskApi,jdbcType=VARCHAR},
      movie_url = #{movieUrl,jdbcType=VARCHAR},
      kind_title = #{kindTitle,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=LONGVARCHAR},
      mission_step = #{missionStep,jdbcType=LONGVARCHAR}
    where mission_id = #{missionId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.padad.outside.pojo.MissionTask" >


    update mission_task
    <set >
      <if test="taskName != null" >
        task_name = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="missionStar != null" >
        mission_star = #{missionStar,jdbcType=INTEGER},
      </if>
      <if test="missionTime != null" >
        mission_time = #{missionTime,jdbcType=VARCHAR},
      </if>
      <if test="moneyPrice != null" >
        money_price = #{moneyPrice,jdbcType=VARCHAR},
      </if>
      <if test="active != null" >
        active = #{active,jdbcType=INTEGER},
      </if>
      <if test="missionContent != null" >
        mission_content = #{missionContent,jdbcType=VARCHAR},
      </if>
      <if test="taskApi != null" >
        task_api = #{taskApi,jdbcType=VARCHAR},
      </if>
      <if test="movieUrl != null" >
        movie_url = #{movieUrl,jdbcType=VARCHAR},
      </if>
      <if test="kindTitle != null" >
        kind_title = #{kindTitle,jdbcType=VARCHAR},
      </if>

      <if test="missionEnd != null" >
        mission_end = #{missionEnd,jdbcType=VARCHAR},
      </if>

    </set>
    where mission_id = #{missionId,jdbcType=VARCHAR}

  </update>
</mapper>