<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.padad.outside.mapper.MissionMenuMapper" >
  <resultMap id="BaseResultMap" type="com.padad.outside.pojo.MissionMenu" >
    <id column="menu_id" property="menuId" jdbcType="VARCHAR" />
    <result column="menu_title" property="menuTitle" jdbcType="VARCHAR" />
    <result column="menu_address" property="menuAddress" jdbcType="VARCHAR" />
    <result column="auth" property="auth" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    menu_id, menu_title, menu_address, auth, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.padad.outside.pojo.MissionMenuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mission_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from mission_menu
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </select>
  <select id="initTreeMenuWithRole" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from mission_menu
    where auth &lt;= #{0}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from mission_menu
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.padad.outside.pojo.MissionMenuExample" >
    delete from mission_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.padad.outside.pojo.MissionMenu" >
    insert into mission_menu (menu_id, menu_title, menu_address, 
      auth, status)
    values (#{menuId,jdbcType=VARCHAR}, #{menuTitle,jdbcType=VARCHAR}, #{menuAddress,jdbcType=VARCHAR}, 
      #{auth,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.padad.outside.pojo.MissionMenu" >
    insert into mission_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="menuTitle != null" >
        menu_title,
      </if>
      <if test="menuAddress != null" >
        menu_address,
      </if>
      <if test="auth != null" >
        auth,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="menuTitle != null" >
        #{menuTitle,jdbcType=VARCHAR},
      </if>
      <if test="menuAddress != null" >
        #{menuAddress,jdbcType=VARCHAR},
      </if>
      <if test="auth != null" >
        #{auth,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.padad.outside.pojo.MissionMenuExample" resultType="java.lang.Integer" >
    select count(*) from mission_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mission_menu
    <set >
      <if test="record.menuId != null" >
        menu_id = #{record.menuId,jdbcType=VARCHAR},
      </if>
      <if test="record.menuTitle != null" >
        menu_title = #{record.menuTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.menuAddress != null" >
        menu_address = #{record.menuAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.auth != null" >
        auth = #{record.auth,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mission_menu
    set menu_id = #{record.menuId,jdbcType=VARCHAR},
      menu_title = #{record.menuTitle,jdbcType=VARCHAR},
      menu_address = #{record.menuAddress,jdbcType=VARCHAR},
      auth = #{record.auth,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.padad.outside.pojo.MissionMenu" >
    update mission_menu
    <set >
      <if test="menuTitle != null" >
        menu_title = #{menuTitle,jdbcType=VARCHAR},
      </if>
      <if test="menuAddress != null" >
        menu_address = #{menuAddress,jdbcType=VARCHAR},
      </if>
      <if test="auth != null" >
        auth = #{auth,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.padad.outside.pojo.MissionMenu" >
    update mission_menu
    set menu_title = #{menuTitle,jdbcType=VARCHAR},
      menu_address = #{menuAddress,jdbcType=VARCHAR},
      auth = #{auth,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </update>
</mapper>