*{margin:0px; padding:0px;}
body{font-size:12px; font-family:"ו";}
ul li{list-style:none;}
.tab1 ul li{float:left;}
.clear{clear:both;}
.pad_zi1{padding-top:5px;}
.pad_zi2{padding-top:3px;}
.wid170{width:170px;}
.wid16{width:16px; height:16px;}
.wid80{width:80px;}
.pad_20{padding-top:10px;}